.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.DS_Store
literature/
data/
submission-files/
references.bib
american-political-science-association.csl
nowlin-style-profile.md

/.quarto/
**/*.quarto_ipynb
*.aux

presentation/NowlinAPSA26.html
presentation/NowlinAPSA26_files/
